<footer class="footer-section">
    <div class="container">
        <a class="site-logo">
            <img src="@Url.Content("~/Content/img/logo.png")" alt="">
        </a>
        <div class="row">
            <div class="col-xl-6 col-lg-5 order-lg-1">
                <div class="social-links">
                    <a href="https://github.com/forg002-ctrl/UTMusic"><i class="fa fa-github"></i></a>
                    <a href="https://t.me/forg002"><i class="fa fa-telegram"></i></a>
                    <a href=""><i class="fa fa-database"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>