@model UTMUSIC.Web.Models.AlbumData

@{
    ViewBag.Title = "Artist's Page";
}
<!-- Songs details section -->
<section class="songs-details-section">
    <div class="container-fluid">
        <div class="row">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="song-details-box">
                            <h3>@Model.Name</h3>
                            <div class="artist-details">
                                <img src="@Url.Content(Model.PhotoPath)" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="song-details-box">
                            <h3>Album's Songs</h3>
                            @for(int i = 0; i < Model.Songs.Count; ++i)
                            {
                                    <!-- song -->
                                    <div class="song-item">
                                        <div class="row">
                                            <div class="col-xl-5 col-lg-12 col-md-5">
                                                <div class="song-info-box">
                                                    <div class="song-info">
                                                        <h4>@Model.Songs[i].Name</h4>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-xl-7 col-lg-12 col-md-7">
                                                <div class="single_player_container">
                                                    <div class="single_player">
                                                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_@i" data-url="@Url.Content(Model.Songs[i].AudioPath)"></div>
                                                        <div class="jp-audio jp_container_@i" role="application" aria-label="media player">

                                                            <div class="jp-gui jp-interface">
                                                                <!-- Player Controls -->
                                                                <div class="player_controls_box">
                                                                    <button class="jp-prev player_button" tabindex="0"></button>
                                                                    <button class="jp-play player_button" tabindex="0"></button>
                                                                    <button class="jp-next player_button" tabindex="0"></button>
                                                                    <button class="jp-stop player_button" tabindex="0"></button>
                                                                </div>
                                                            </div>
                                                            <!-- Progress Bar -->
                                                            <div class="player_bars">
                                                                <div class="jp-progress">
                                                                    <div class="jp-seek-bar">
                                                                        <div>
                                                                            <div class="jp-play-bar">
                                                                                <div class="jp-current-time" role="timer" aria-label="time">0:00</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>